<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form with Flask</title>
    <style>
      
    table,td,th{
        border: 2px solid rgb(156, 135, 135);
        border-collapse: collapse;
        margin-top: 50px;
        margin-right: 100px;
        text-align: center;
        color: white;
        padding-left: 40px;
        height: 10px;
        width: 20px;
        
        
    }
    a{
        text-decoration: none;
        color: white;

    }
    a:hover{
        background-color: green;
    }
    

</style>
</head>
<body>
    {% extends "index.html" %}
    {% block body %}
    <table style="border-collapse: collapse;">
        <tr>
            <th colspan="4">student_details</th>
            <th colspan="5">Marks</th>
            <th colspan="2">Action</th>
        </tr>
        <tr>
            <th>S_Number</th>
            <th>Name</th>
            <th>Age</th>
            <th>Roll_NO</th>
            <th>Mark1</th>
            <th>Mark2</th>
            <th>Mark3</th>
            <th>Mark4</th>
            <th>Mark5</th>
            <th>Edit</th>
            <th>Delete</th>
        
           
        </tr>
        {% for i in student %}
        <tr>
            <td>{{[loop.index]}}</td>
            <td>{{i['Name']}}</td>
            <td>{{i['Age']}}</td>
            <td>{{i['Roll_NO']}}</td>
            {% for j in i['Marks'] %}
            <td>{{j}}</td>
            {% endfor %}
            <td><a href="{{url_for('edit',index=loop.index)}}">Edit</a></td>
            <td><a href="{{url_for('delete',index=loop.index)}}">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
    {% endblock body %}
    
         
    
</body>
</html>